@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Major+Mono+Display&display=swap');
:root {
    --bg: rgb(28, 43, 49);

    --azul: blue;
    --vermelho: red;
    --amarelo: yellow;
    --aqua: aqua;
    --aqua2: rgb(36, 77, 77);
    --gray: gray;
    --rosa: pink;
    --fg: #a9b1d6;

    --blue: #7da6ff;
    --green: #9ECE6A;
    --purple: #ad8ee6;
    --yellow: #E0AF68;
    --pink: #fd5bd4;
}

body {
    background-color: var(--bg);
    font-family: 'JetBrains Mono', monospace !important;
}
pre {
    font-size: 17px;
    color: rgb(127, 214, 255);
}
.button {
    opacity: 0.0;
}
h1{
	color: rgb(127, 229, 255);
	font-size: 18px;
}
.mt-5{
	font-size: 15px;
}
.logo .logoGIF{
	width: 15%;
}
h2{
	color: var(--pink);
	font-size: 15px;
}
ul{
	list-style-type: None;
	font-size: 14px;
}

button.link { background:none; border:none; }